---
layout: page
---

{% if site.email or site.formspree_form_id %}

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
  }
</style>
<form accept-charset="UTF-8" method="POST" action="https://formspree.io/f/xwpknlql" v-on:submit.prevent="validateBeforeSubmit" ref="contact">
  <fieldset>
    <!-- Campo nascosto: soggetto dell'email -->
    <input type="hidden" name="_subject" value="New contact!" />

    <!-- Campo nascosto: URL di reindirizzamento -->
    <input type="hidden" name="_next" value="{{ site.url }}{{ site.sent_message_url }}" />

    <!-- Campo nascosto: lingua -->
    <input type="hidden" name="_language" value="{{ site.language }}" />

    <!-- Nome -->
    <input type="text" name="name" placeholder="Your name" v-validate="'required'" :class="{ 'has-error': errors.has('name') }">
    <span v-if="errors.has('name')" v-cloak></span>

    <!-- Email -->
    <input type="text" name="email" placeholder="Your email" v-validate="'required|email'" :class="{ 'has-error': errors.has('email') }">
    <span v-if="errors.has('email')" v-cloak></span>

    <!-- Messaggio -->
    <textarea name="message" onkeyup="adjust_textarea(this)" placeholder="Your message" v-validate="'required'" :class="{ 'has-error': errors.has('message') }"></textarea>
    <span v-if="errors.has('message')" v-cloak></span>

    <!-- Pulsante invio -->
    <button type="submit">Send</button>
  </fieldset>
</form>
{% endif %}
